/* https://stackoverflow.com/a/38994837 */
/* https://stackoverflow.com/a/13184693 */
html {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.gx-1 {
    --bs-gutter-x: 0.25rem;
}
.col {
    flex: 1 0 0%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.false-anchor {
    cursor: pointer;
    text-decoration: underline;
    color:rgb(0, 0, 238) !important;
}
.false-anchor:hover {
    color:rgb(0, 0, 131) !important;
}

.icon-black {
    color:rgb(0, 0, 0);
}
.icon-grey {
    color:rgb(148, 148, 148);
}
.icon-selected {
    color:rgb(0, 132, 255);
}
.icon-green {
    color:rgb(17, 167, 17);
}
.icon-red {
    color:red;
}
.icon-blue {
    color:rgb(92, 157, 255);
}

.selectedProduct {
    background-color: rgba(58, 172, 88, 0.6);
}

.mapboxgl-ctrl-top-center {
    position: relative !important;
    left: 0;
    right: 0;
    top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mapboxgl-ctrl-bottom-center {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#messageBox {
    width: auto;
    height: auto;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    /*text-align: justify;*/
    background: transparent;
}

#spinnerParent {
    z-index: 10;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
#spinnerDisplayText {
    color: rgb(0, 162, 255);
    /*background-color: rgb(87, 87, 87);*/
    text-align: center;
    margin: auto;
    margin-top: 10%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/*
https://tobiasahlin.com/spinkit/
*/
.sk-chase {
    width: 40px;
    height: 40px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 1.0s infinite ease-in-out both; 
}
.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 1.0s infinite ease-in-out both; 
}
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
    100% { transform: rotate(360deg); } 
}
@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
}
@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.6); 
    } 100%, 0% {
        transform: scale(1.0); 
    } 
}

#optionsBox {
    position: absolute;
    z-index: 15;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: auto;
    width: fit-content;
    bottom: 10px;
    text-align: center;
    overflow: scroll;
    padding: 5px 10px;
    /* line-height: 25px; */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
    /*position: absolute;
    z-index: 100;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 5%;
    text-align: center;
    width: auto;
    height: 200px;
    overflow: scroll;
    padding: 5px 10px;
    line-height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;*/
}
/*#optionsBox:hover { 
    background-color: rgb(212, 212, 212);
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}*/
.customMarker {
    text-align: center;
    width: auto;
    height: auto;
    padding: 1px 5px;
    /* line-height: 25px; */
    background-color: rgb(136, 136, 136);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#mapHeader {
    /*position: relative;
    z-index: 15;
    margin: auto;
    height: auto;
    width: fit-content;
    top: 10px;
    border-radius: 5px;*/

    position: relative;
    z-index: 15;
    margin: auto;
    height: auto;
    width: fit-content;
    top: 10px;
    padding: 5px 10px;
    /* line-height: 25px; */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 13px;

    cursor: pointer;
}

#drop_zone {
    height: 100px;
    width: auto;
    /* top right bottom left */
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 550;

    border: 2px solid rgb(136, 136, 136);
    border-style: dashed;
    border-radius: 10px;
}

#progBarParent {
    /*position: relative;
    z-index: 55;
    top: 50vh;
    left: 25%;
    right: 25%;*/
    position: absolute;
    z-index: 100;
    left: 20%;
    right: 20%;
    width: auto;
    top: 50vh;
}

#modalBtn {
    position: absolute;
    z-index: 99999;
    display: none;
}
#exampleModal {
    z-index: 100000;
}

#alertModalBody {
    height: 50vh;
    overflow: scroll;
}
.alertAccordionBody {
    white-space: pre-wrap;
}

.offCanvasMenuItem {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
}
#offcanvasExample {
    width: 30vw;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.mapFooter {
    position: absolute;
    z-index: 120;
    bottom: 0%;
    height: 45px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapFooter span {
    font-size: 23px;
}
.mapFooterMenuItem {
    cursor: pointer;
}

#productMapFooter {
    position: absolute;
    z-index: 120;
    height: 45px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
}
#productsDropdownTrigger, #productsDropdown {
    font-size: small;
    /* color: white; */
    cursor: pointer;
    position: absolute;
    left: 10px;
}
#radarDateTime {
    font-size: small;
    color: white;
    text-align: center;
    position: absolute;
    right: 10px;
}
#extraProductInfo {
    font-size: small;
    color: rgb(161, 161, 161);
}

.radarHeader {
    position: absolute;
    z-index: 115;
    top: 0%;
    height: 50px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.radarHeader div {
    text-align: center;
}

#top-left {
    position: absolute;
    left: 10px;
    display: flex;
}
#top-right {
    position: absolute;
    right: 10px;
    display: flex;
}

.progressBar {
    position: absolute;
    z-index: 115;
    top: 50px;
    height: 10px;
    width: 100%;
    background-color: rgb(20, 103, 204);
}
#mapColorScale {
    position: absolute;
    z-index: 115;
    width: 100%;
    display: none;
    /* bottom: 50px;
    height: 10px; */
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colorPickerCircle {
    /*background-color: white;*/
    border: 3px solid rgb(125, 125, 125);
    border-radius: 50%;

    /* outline: 1px solid black; */ /* doesn't work on safari */
    box-shadow: 0px 0px 0px 1px black inset,
    0px 0px 0px 1px black; /* https://github.com/google/model-viewer/issues/662#issuecomment-1451606074 */

    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
    display: none;
}
#colorPicker {
    width: 10px;
    height: 10px;

    z-index: 1002;
    background-color: black;
}
#colorPickerBorder {
    width: 40px;
    height: 40px;

    z-index: 1001;
    display: none; /* display: flex; */
    justify-content: center;
    align-items: center;
}
#verticalLine {
    border-left: 3px solid rgb(125, 125, 125);
    border-radius: 25px;
    outline: 1px solid black;

    height: calc(100% + 25px);
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: none;
}
#horizontalLine {
    border-top: 3px solid rgb(125, 125, 125);
    border-radius: 25px;
    outline: 1px solid black;

    width: calc(100% + 25px);
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: none;
}
#radarCenterLine {
    border-left: 3px solid red;
    border-radius: 25px;
    outline: 1px solid black;

    height: 100%;
    top: -50%;

    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: none;

    transform: rotate(45deg);
    transform-origin: 50% 100%;
}
#colorPickerText {
    text-align: center;
    width: fit-content;
    height: fit-content;
    /* padding: 0px 5px; */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 17px;
    background-color: rgba(105, 105, 105, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 15px;
    color: white;

    position: absolute;
    z-index: 1000;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
    display: none;
}

.new-file {
    color: rgb(17, 167, 17);
}
.recent-file {
    color: rgb(217, 184, 0);
}
.old-file {
    color: rgb(229, 78, 78);
}
.uploaded-file {
    color: rgb(78, 181, 229);
}

#radarStationParent {
    text-align: center;
    width: auto;
    height: auto;
    padding: 1px 5px;
    /* line-height: 25px; */
    background-color: rgb(0, 111, 181);
    border: 2px solid rgb(0, 73, 119);
    border-radius: 25px;
    cursor: pointer;
}

.code {
    font-family: 'Courier New', monospace;
}

#hurricaneArchiveMapControl {
    background-color: rgb(184, 184, 184);
    /*width: 150px;
    height: 250px;*/
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    border: 2px solid rgb(0, 0, 0);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
}
#haClearMapOuter {
    margin: 8px 40px -8px 8px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#haMapControlMinimize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    background-color: rgb(128, 128, 128);
    z-index: 101;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
#haMapControlText {
    height: fit-content;
    max-height: 30vh;
    overflow: scroll;
}

.alertPopup .mapboxgl-popup-content{
    background-color: black;
    /* background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */

    border-radius: 10px;
    color: white;
}
.alertPopup .mapboxgl-popup-close-button {
    display: none;
}
/* https://github.com/mapbox/mapbox-gl-js/issues/2848#issuecomment-354447882 */
.alertPopup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color: black; }
.alertPopup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color: black; }
.alertPopup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: black; }
.alertPopup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: black; }

.alertPopup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip { border-bottom-color: black; }
.alertPopup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip { border-bottom-color: black; }
.alertPopup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip { border-top-color: black; }
.alertPopup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip { border-top-color: black; }

#atticDialog {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.4);
}
#atticDialogContainer {
    position: absolute;
    z-index: 1001;
    left: 0;
    right: 0;
    margin: auto;

    width: 550px;
    max-width: 90vw;
    height: 85vh;
    top: 10px;

    background-color: white;
    overflow: hidden;
    white-space: pre-wrap;
    display: flex;
    flex-flow: column;

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
    color: rgb(172, 172, 172);
}
#atticDialogHeaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(128, 128, 128);
    z-index: 1002;

    display: flex;
    justify-content: center;
    align-items: center;
}
#atticDialogClose {
    position: absolute;
    z-index: 1002;
    margin: 0 auto;
    right: 20px;
    transform: scale(1.5);
    cursor: pointer;
}
#atticDialogBody {
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;
    overflow: scroll;
    margin: 5px 5px 5px 5px;
}
.alertsMonospaceText {
    font-family: 'Consolas', monospace;
}
.alertTextDescriber {
    color: rgba(0, 132, 255, 1);
}

#toolsMenuTooltip {
    position: absolute;
    z-index: 500;
    /* top right bottom left */
    padding: 0px 10px 0px 10px;
    width: fit-content;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toolsMenuTooltip:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-width: 10px;
    margin-left: -10px;
}

#l2ElevButtons {
    margin: auto;
    width: 90%;
}
.l2ElevBtn {
    /* width: fit-content;
    height: fit-content; */
    padding: 2px;
    background-color: #e2e3e5;
    cursor: pointer;

    border: 1px solid #d3d6d8;
    border-radius: 7px;

    text-align: center;

    /* border-top: 2px solid rgb(230, 230, 230);
    border-left: 2px solid rgb(230, 230, 230);
    border-bottom: 2px solid rgb(100, 100, 100);
    border-right: 2px solid rgb(100, 100, 100); */
}

#l2ElevButtonsExpander {
    /* width: fit-content;
    height: fit-content; */
    height: auto;
    margin: auto;
    width: 90%;
    padding: 5px;
    background-color: #e2e3e5;
    cursor: pointer;

    border: 1px solid #d3d6d8;
    border-radius: 7px;

    /* text-align: center; */
}
#l2ElevButtonsExpander:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
}
.l2ElevButtonsExpanderSelected {
    color: #084298 !important;
    background-color: #cfe2ff !important;
    border-color: #b6d4fe !important;
}
.l2ElevBtnSelected {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}

.radioPausePlayBtn {
    padding: 2px;
    background-color: #3d3d3d;
    cursor: pointer;
    border: 1px solid #6d6d6d;
    border-radius: 7px;
    text-align: center;
}

#atcDlg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.4);
}
#atcDlgContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;

    width: 550px;
    max-width: 90vw;
    height: auto;
    max-height: 100%;
}
#atcDlgHeader {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 100%; */
    height: 50px;
    padding: 5px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;

    font-weight: bold;
    font-weight: 900;
    letter-spacing: 1.25px;

    text-align: center;

    background-color: rgb(175, 175, 175);
    color: rgb(71, 71, 71);
}
#atcDlgClose {
    position: absolute;
    right: 20px;
    transform: scale(1.5);
    cursor: pointer;
}
#atcDlgBody {
    /* position: absolute; */
    overflow: scroll;

    /* width: 100%; */
    height: auto;
    /* 85vh - top padding - header height */
    max-height: calc(85vh - 10px - 50px);
    padding: 5px;
    white-space: pre-wrap;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

#atticRadarMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.4);
}
#atticRadarMenuContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 7vh;
    margin: auto;
    overflow: scroll;

    width: 90vw;
    max-width: 550px;
    /* height: 85vh;
    max-height: 85vh; */

    background-color: rgb(28, 28, 28);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
#atticRadarMenuBody {
    color: #aeaeae;
    padding: 15px;
}
.atticRadarMenuRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.atticRadarMenuRow:hover {
    background-color: rgb(44, 44, 44);
    cursor: pointer;
}
.atticRadarMenuRow:active {
    /* border: 1px solid rgba(97, 178, 203, 0.542); */
    background-color: rgb(40, 40, 40);
}
.armrSlideDown {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* border-top: 0.25px solid rgb(70, 70, 70); */
    background-color: rgb(60, 60, 60);
}
/* armr = atticRadarMenuRow */
.armrTop {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0.25px solid rgb(70, 70, 70);
}
.armrMiddle {
    border-radius: 0px;
    border-top: 0.25px solid rgb(70, 70, 70);
    border-bottom: 0.25px solid rgb(70, 70, 70);
}
.armrBottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0.25px solid rgb(70, 70, 70);
}
.armrWide {
    border-radius: 0px;
    /* 15px is the padding for #atticRadarMenuContainer */
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
}

.armrIcon {
    color: rgb(130, 130, 130);
    margin-left: 5px;
    margin-right: 10px;
}
.armrIcon-Red {
    color: rgb(235, 85, 70);
}
.armrText-Red {
    color: rgb(187, 64, 53);
}
.armrIcon-Blue {
    color: rgb(70, 143, 235);
}
.armrIcon-Green {
    color: rgb(79, 183, 94);
}
.armrText-Green {
    color: rgb(25, 133, 57);
}

.armrIconArrowRight {
    position: absolute;
    right: 30px;
    color: rgb(111, 111, 111);
}

/* arms = atticRadarMenuScreen */
.armsHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(200, 200, 200);
    font-size: 18px;
}
.armsHeaderBackBtn {
    position: absolute;
    left: 15px;
    color: rgb(56, 144, 218);
    cursor: pointer;

    font-size: 16px;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}
.armsHeaderBackBtn:hover {
    color: rgb(44, 110, 164);
}
.armsHeaderExitBtn {
    position: absolute;
    right: 15px;
    color: rgb(200, 200, 200);
    cursor: pointer;

    font-size: 30px;
}

.armrHeader {
    margin-left: calc(10px + 5px); /* atticRadarMenuRow padding + armrIcon margin-left */
    margin-bottom: 3px;
    font-size: 15px;
}
.armrHeaderWide {
    margin-left: 0px;
}

.toggleSwitch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.toggleSwitchCircle {
    cursor: pointer;
    text-indent: -9999px;
    width: calc(180px / 5);
    height: calc(100px / 5);
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
}
.toggleSwitchCircle:after {
    content: "";
    position: absolute;
    top: calc(5px / 5);
    left: calc(5px / 5);
    width: calc(90px / 5);
    height: calc(90px / 5);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.toggleSwitch:checked+.toggleSwitchCircle {
    background: #4BD763;
    transition: 0.3s;
}
.toggleSwitch:checked+.toggleSwitchCircle:after {
    left: calc(100% - calc(5px / 5));
    transform: translateX(-100%);
}
/* .toggleSwitchCircle:active:after {
    width: calc(110px / 5);
} */
.toggleSwitchContainter {
    display: flex;
    position: absolute;
    right: 30px;
}
/* tsc = toggleSwitchContainter */
.tscWide {
    right: 15px;
}

#radarStation:hover {
    filter: brightness(80%);
}

#productSelectionMenu {
    position: absolute;
    z-index: 997;
    bottom: 50px;
    left: 10px;
    height: auto;
    max-height: 200px;
    width: auto;

    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    border: 1px solid black;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    overflow: scroll;
}
/* psm = productSelectionMenu */
.psmRow {
    cursor: pointer;
    color: white;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.psmRowDisabled {
    pointer-events: none;
    /* background-color: #3a3a3a !important; */
    color: #7d7d7d !important;
}
/* .psmRow:hover {
    background-color: rgb(85, 85, 85);
} */
.psmSectionBreak {
    border: 0.5px solid rgb(113, 113, 113);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
}
.psmSectionTitle {
    color: rgb(185, 185, 185);
    font-size: 13px;
    margin-bottom: 3px;
}
.psmRowTiltSelect {
    color: rgb(92, 157, 255);
    margin-left: 20px;
    /* font-weight: bold; */
}
.psmRowTiltSelect:hover {
    filter: brightness(80%);
    text-decoration: underline;
}
.blankText {
    color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#psmTiltDropdown {
    position: absolute;
    z-index: 999;
    height: fit-content;
    width: fit-content;
    padding-top: 3px;
    padding-bottom: 3px;

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
    /* backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); */
}
#psmTiltDropdownBackdrop {
    position: absolute;
    z-index: 998;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.psmTiltDropdownRow {
    cursor: pointer;
    color: white;
    /* height: 35px; */
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;

    display: flex;
    align-items: center;

    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.psmTiltDropdownRow:hover {
    background-color: rgb(76, 110, 181);
}

#l2ElevationButtons {
    /* margin: auto;
    width: 90%; */
    padding-left: 0px;
    padding-right: 0px;
}
.l2ElevationBtn {
    padding: 2px;
    background-color: #898989;
    cursor: pointer;

    border: 1px solid #3e3e3e;
    border-radius: 7px;

    text-align: center;
}
.l2ElevationBtn:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
}
.l2ElevationBtn:active {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
}
.l2ElevationBtnSelected {
    color: #125234 !important;
    background-color: #96b0a4 !important;
    border-color: #265d44 !important;
}
.l2ElevationBtnDisabled {
    pointer-events: none;
    background-color: #606060 !important;
    border-color: #3e3e3e !important; /* same as .l2ElevationBtn */
}

.dealiasBtnSelected {
    color: #083b0a !important;
    background-color: #45863c !important;
    border-color: #153627 !important;
}
.dealiasBtnDeSelected {
    color: #521212 !important;
    background-color: #ab6262 !important;
    border-color: #764646 !important;
}